.scrollbarHidden::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  font-family: "Absolut Headline Web 2021", sans-serif;
  color: #fff;
}

.container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.hero {
  background: url(/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerTitle {
  font-size: 4vw;
  font-weight: lighter;
  color: #fff;
  text-align: center;
}

.stickyHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.stickyHeaderTitle {
  font-size: 20vw;
  font-weight: lighter;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  text-align: center;
}

.card {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  will-change: transform;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card1 {
  background: linear-gradient(135deg, #ecb74c, #ff9d00);
  border: 2px solid rgba(236, 183, 76, 0.35);
  color: #000;
}

.card2 {
  background: linear-gradient(135deg, #7dd8cd, #00c9b7);
  border: 2px solid rgba(125, 216, 205, 0.35);
  color: #000;
}

.card3 {
  background: linear-gradient(135deg, #e0ff57, #c9ff00);
  border: 2px solid rgba(224, 255, 87, 0.35);
}

.card4 {
  background: linear-gradient(135deg, #7dd8cd, #00c9b7);
  border: 2px solid rgba(125, 216, 205, 0.35);
}

.cardPhase {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
  color: #000;
}

.cardPhaseText {
  font-size: 24px;
}

.cardPhase1 {
  background-color: #ecb74c;
}

.cardPhase2 {
  background-color: #7dd8cd;
}

.cardPhase3 {
  background-color: #e0ff57;
}

.cardPhase4 {
  background-color: #7dd8cd;
}

.cardTitle {
  text-align: center;
}

.cardTitleDate {
  font-size: 36px;
}

.cardTitleText {
  font-size: 80px;
  font-weight: lighter;
  line-height: 90%;
}

.cardTitle1 {
  color: #000;
}

.cardTitle2 {
  color: #000;
}

.cardTitle3 {
  color: #000;
}

.cardTitle4 {
  color: #000;
}

.cardTitleSpan {
  color: transparent;
  -webkit-text-stroke: 1.25px #fff;
}

.progressBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.progressBar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 1) 100%
  );
}

.progress {
  width: 100%;
  height: 0%;
  background-color: #353531;
}

.indices {
  position: absolute;
  top: 0;
  right: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  opacity: 0;
}

.index {
  text-align: right;
  opacity: 0.25;
}

.indexText {
  text-decoration: line-through;
  text-transform: uppercase;
  font-size: 0.95rem;
}

.indexDate {
  font-family: "Absolut Sans 2021", sans-serif;
  font-size: 0.95rem;
}

.indexDescription {
  font-family: "Absolut Headline Web 2021", sans-serif;
  font-size: 1.125rem;
}

.index1 {
  color: #ecb74c;
}

.index2 {
  color: #7dd8cd;
}

.index3 {
  color: #e0ff57;
}

.index4 {
  color: #7dd8cd;
}

@media (max-width: 900px) {
  .card {
    width: 75%;
    height: 40%;
  }

  .cardPhaseText {
    font-size: 18px;
  }

  .cardTitleDate {
    font-size: 24px;
  }

  .cardTitleText {
    font-size: 40px;
  }

  .cardTitleSpan {
    -webkit-text-stroke: 0.75px #fff;
  }

  .indices {
    right: 15px;
  }

  .indexDate,
  .indexDescription {
    display: none;
  }

  .footerTitle {
    font-size: 8vw;
  }
}
