@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::selection {
  background-color: #ef9d71;
}

body[theme="black"] {
  background-color: #000;
}
body[theme="black"] .section {
  color: #fff;
}
body[theme="cyan"] {
  background-color: #aedee0;
}
body[theme="salmon"] {
  background-color: #ef9d71;
}
body[theme="white"] {
  background-color: #fff;
}

body {
  transition: background-color ease-out 0.5s;
}
.section {
  font-family: "neue";
}
.videos {
  clip-path: circle(var(--clip) at 50% 50%);
}
.listelem:hover .bluelayer {
  height: 100%;
  transition: 0.2s all ease-in-out;
}
.listelem:hover {
  color: #fff;
}
.card:hover {
  background: #000;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
.cards {
  transition: 1s all ease-in-out;
}
.real,
.para,
.capsule,
.team {
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
