@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: #ef9d71;
}

html {
  overflow-x: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@font-face {
  font-family: "neue";
  src: url(./Neue\ Machina\ Inktrap\ Medium.ttf);
}

body{
  background-color: #F2EFE4;
}
body[theme="black"] {
  background-color: #000;
}

body[theme="white"] .section {
  background-color: #F2EFE4;
}

body[theme="black"] .section {
  color: #fff;
}

body[theme="yellow"] {
  background-color:  #3A7E7D;
  color: #000;
}
body[theme="lightBlue"] {
  background-color:  #510273;
  color: #fff;
}

body[theme="darkBlue"] {
  background-color: #F2EFE4;
}

body[theme="gray"] {
  background-color: #262526;
  color: #fff;
}

body {
  transition: background-color ease-out 0.5s;
}

.section {
  font-family: "neue";
}

.videos {
  clip-path: circle(var(--clip) at 50% 50%);
}

.listelem:hover .bluelayer {
  height: 100%;
  transition: 0.2s all ease-in-out;
}

.listelem:hover {
  color: #fff;
}

.card:hover {
  background: #000;
  color: #fff;
  transition: 0.2s all ease-in-out;
}

.cards {
  transition: 1s all ease-in-out;
}

.real,
.para,
.capsule,
.team {
  overflow-x: hidden;
}

.home {
  position: relative;
  width: 100%;
  height: 200vh;
}

.videos {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.videos video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marquees {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.heading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.slidesm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 90%;
}

@media (max-width: 768px) {
  .slidesm {
    transform: translate(-50%, -50%);
  }

  .videos {
    height: 100vh;
  }

  .videos video {
    object-fit: cover;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  position: relative;
  gap: 1rem;
}

.grid-item {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}


/* Scroll  */

.scrolldown {
  --color: #000;
  --sizeX: 30px;
  --sizeY: 50px;
  position: fixed;
  bottom: 15px;
  right: 25px;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid #000;
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  z-index: 1000;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}
